@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,
p,
h2,
h3,
div,
button,
label,
input {
    font-family: serif;  
}

body {
    margin: 0;
}

#header {
    font-size: 1.9rem;
    padding: 1.3rem 2rem;
    color: white;
    background: black;
    width: 100%;
}

#player-setup {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-card {
    margin: 0.7rem 1.25rem;
    border: 4px solid black;
    border-radius: 0.5rem;
}

.player-header {
    padding: 0.5rem;
    color: white;
    background: black;
    font-weight: bold;
}

.player-details {
    display: flex;
    gap: 0.5rem;
    padding: 0.8rem;
}

.player-labels {
    padding-top: 0.05rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.player-input {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#start-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#start-button {
    padding: 0.5rem;
    width: 19.3rem;
    border-radius: 0.5rem;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

#game-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score-board {
    display: none;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    border: 4px solid black;
    width:19.3rem;
    margin: 2rem 0 1rem;
    text-align: center;
}

#score-header {
    text-align: center;
    color: white;
    background: black;
    margin: 0;
    padding: 0.5rem;
    font-weight: bold;
}

#score-body {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.score-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.score-value {
    font-size: 3rem;
    margin: 0;
}

#status-message {
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    background: black;
    max-width:17.6rem;
    word-wrap: break-word;
    display: none;
}

#game-board {
    margin-top: 2rem;
    display: none;
    grid-template-columns: 7rem 7rem 7rem; 
    grid-template-rows: 7rem 7rem 7rem;
    justify-content: center;
}


.board-segment,
.board-segment:disabled {
    border-radius: 0;
    border: 0.2rem solid black;
    background: white;
    transition: 0.3s;
    font-size: 4rem;
    font-weight: bolder;
    color: black;
}

.board-segment:hover {
    background: rgb(230, 230, 230);
}

.board-segment:active {
    background: rgb(0, 0, 0);
}

.board-segment:disabled:hover {
    background: white;
}

#restart-button {
    color: white;
    background: black;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 0.5rem 4rem;
    font-size: 1rem;
    font-weight: bold;
}

[data-position="0"],
[data-position="3"],
[data-position="6"] {
    border-left: none;
}

[data-position="0"],
[data-position="1"],
[data-position="2"] {
    border-top: none;
}

[data-position="2"],
[data-position="5"],
[data-position="8"] {
    border-right: none;
}

[data-position="6"],
[data-position="7"],
[data-position="8"] {
    border-bottom: none;
}

[data-position="0"] {
    border-radius: 0.5rem 0 0 0;
}

[data-position="2"] {
    border-radius: 0 0.5rem 0 0;
}

[data-position="6"] {
    border-radius: 0 0 0 0.5rem;
}

[data-position="8"] {
    border-radius: 0 0  0.5rem 0;
}

[data-position="0"]:disabled,
[data-position="3"]:disabled,
[data-position="6"]:disabled {
    border-left: none;
}

[data-position="0"]:disabled,
[data-position="1"]:disabled,
[data-position="2"]:disabled {
    border-top: none;
}

[data-position="2"]:disabled,
[data-position="5"]:disabled,
[data-position="8"]:disabled {
    border-right: none;
}

[data-position="6"]:disabled,
[data-position="7"]:disabled,
[data-position="8"]:disabled {
    border-bottom: none;
}

[data-position="0"]:disabled {
    border-radius: 0.5rem 0 0 0;
}

[data-position="2"]:disabled {
    border-radius: 0 0.5rem 0 0;
}

[data-position="6"]:disabled {
    border-radius: 0 0 0 0.5rem;
}

[data-position="8"]:disabled {
    border-radius: 0 0  0.5rem 0;
}